.categoryMenu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    overflow: scroll;
    background-color: #e7e7e7;
    padding-left: 20px;

    a {
        margin-right: 50px;
        font-size: 0.9em;
        color: rgba(0, 0, 0, 0.521);
    }


}