.categoryMenu {
    width: 80vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 20PX;

    ul {
        display: flex;
        justify-content: space-between;
        background-color: #e7e7e7;



        li {
            list-style-type: none;
            padding-left: 5px;
            padding-top: 3px;
            width: 120px;
            height: 30px;
            background-color: #e7e7e7;
            font-size: 0.9em;


        }

        li:hover {
            background-color: rgb(201, 200, 200);
        }

        a {
            color: rgba(0, 0, 0, 0.753);
        }

        h2 {
            color: black;
        }
    }


}