/*-----------------------------Header */

@media only screen and (max-width:390px) {
    .itemContainer {
        width: 150px;
        height: 220px;

        img {
            height: 120px;
            width: 159px;
        }
    }

    .itempriceline {

        margin-top: 15px;

        .itemPrice {
            font-size: 0.6em;
            padding-left: 11px;
        }


        .itemWeight {
            padding-right: 25px;
            font-size: 0.5em;
            color: rgba(0, 0, 0, 0.404);
        }
    }

    .itemnameline {
        width: 99%;
        height: 10%;
        padding-left: 11px;


        .itemName {
            font-size: 0.6em;
        }
    }

}

.itemContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
    margin-right: 30px;

    img {

        border-radius: 15px 15px 2px 2px;
        margin: 2px auto;
    }

}

.itempriceline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


.addButtontoCart {
    background-color: #ecece9;
    width: 90%;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 10%;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
}

.addButtontoCart:hover {
    background-color: #fcdf00b0;
}

.addButtontoCart_active {
    background-color: #ecece9;
    width: 40%;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 50px;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.buttonmenu {
    margin: 10px auto;
    background-color: #ecece9;
    width: 90%;
    height: 10%;
    border-radius: 10px;


}

.addButtonMinus {
    background-color: #ecece9;
    width: 45%;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 10%;
    font-size: 1em;
    margin-left: 10px;
}

.addButtonPlus {
    background-color: #ecece9;
    width: 45%;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 10%;
    font-size: 1em;
}

.counter {
    background-color: #ecece9;
    width: 10%;
    border: 0;
    outline: none;
    height: 10%;
    font-size: 0.8em;

}

.buttonmenu {
    display: flex;
    width: 90%;
    height: 10%;
}