@media only screen and (max-width:420px) {
    .wrapper {
        width: 100vw;
    }

    .addBlock {
        height: 17vh;
        overflow: scroll;

        .addBlock_item {
            width: 45vw;
            height: 16vh;
            border-radius: 10px;
        }
    }

    .main {
        width: 100vw;
        padding-bottom: 50px;

        .items_container {
            margin-top: 20px;
        }
    }

    .right {
        display: none;
        visibility: hidden;
    }

    .cartMobile {
        position: fixed;
        z-index: 2000;
        right: 10px;
        bottom: 50px;
        background-color: rgb(43, 161, 19);
        padding: 10px;
        border-radius: 40px;

        img {

            width: 40px;
        }

        span {
            font-size: 1em;
            position: fixed;
            z-index: 2001;
            right: 10px;
            bottom: 50px;
            background-color: rgb(255, 255, 255);
            border-radius: 40px;
            height: 25px;
            width: 25px;
            text-align: center;
            border: 1px solid black;
            color: black;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding-top: 85px;


}

.main {
    width: 100%;

    .items_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);

    }
}

.addBlock {
    display: flex;

    .addBlock_test {
        display: flex;
        justify-content: space-between;

    }

    .addBlock_item {
        background-color: antiquewhite;
        border-radius: 10px;
        margin-right: 30px;

        img {
            width: 50vw;
            height: 100%;
            border-radius: 10px;
        }
    }


}