@media only screen and (max-width:420px) {
    header {
        height: 70px;

        .Applogo {
            position: fixed;
            top: 10px;

            img {

                height: 7vh;

            }
        }

    }

    .profilebar {
        width: 100px;
        height: 28px;


    }

    .ordersbar {
        width: 100px;
        height: 28px;



    }
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #000000;
    display: flex;
    color: black;
    justify-content: space-between;
    z-index: 1000;


}

.Applogo {}

.lheader {
    display: flex;
    height: 5vmin;
    width: 700px;
    margin-top: 10px;
    margin-left: 20px;






}

.rheader {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding-top: 22px;


    .profilebar {
        text-align: center;

        margin-right: 10px;
        background-color: #ffffffc5;
        border-radius: 10px;
        padding-top: 2px;

    }

    .ordersbar {
        text-align: center;

        background-color: #ffffffdc;
        border-radius: 10px;
        padding-top: 2px;
        margin-right: 10px;



    }


}