*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 0;
}

/* -----------------------------Header */
.App {
    background-color: white;
}