@media only screen and (max-width:420px) {
    .container {
        width: 95%;
        height: 300px;
        padding: 50px;
    }

    .wrapper {
        width: 100vw;
        background: url('https://wallpapers.com/images/hd/japanese-cherry-blossom-art-kuzcfbkb7sx8oqaw.jpg');
        background-color: rgb(21, 58, 63);

    }

    input {
        width: 95%;
        height: 37px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.664);
        color: rgba(128, 128, 128, 0.486);

    }

    a {
        margin-top: 15px;
        margin-left: 3px;
    }

}

.wrapper {
    // background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    padding-top: 30vh;
}

.container {

    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 11px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 11px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 11px 6px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
}

.addButtontoCart {
    background-color: #ecece9;
    width: 95%;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 40px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.507)
}

.addButtontoCart:hover {
    background-color: #fcdf00b0;
}

.addButtontoCart_active {
    background-color: #ecece9;
    width: 5vw;
    border-radius: 10px;
    border: 0;
    outline: none;
    height: 50px;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}